<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Web Developer Exercise (Cyber City Comics)">
        <meta name="author" content="Steven Tran">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Stylesheets-->
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="/styles/styles.css">

        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

        <title>Cyber City Comics</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>