<div class="content">
    <header class="jumbotron">
        <h1>{{title}}</h1>
    </header>

    <nav id="nav-bar">
        <button onclick="goToHome()">Home</button> 
        <button id="previous-button" onclick="prevComic()"><</button>
        <button id="jump-to-comic" onclick="jumpPrompt()">Jump to Comic #</button>
        <button id="next-button" onclick="nextComic()">></button>
        <button onclick="getRandomComic()">Random</button>
    </nav>

    <div id="comic-display"></div>
</div>
<footer id="sticky-footer">
    <p>Steven Tran &copy Copyright 2020</p>
    <span>{{version}}</span>
</footer>

<!--page script-->
<script src="/js/index.js"></script>