<div class="content">
    <header class="jumbotron">
        <h1>{{title}}</h1>
    </header>

    <nav id="nav-bar">
        <span>Navigation Bar Here</span>
    </nav>

    <div id="comic-display">
        <p>Stuff Goes Here</p>
    </div>
</div>
<footer id="sticky-footer">
    <span>Steven Tran &copy Copyright 2020</span>
</footer>

<!--page script-->
<script src="/js/index.js"></script>